### OpenAI Authentication

In [1]:
import openai
import os

In [2]:
openai.api_key = os.getenv('OPENAI_API_KEY')

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data/words.csv')
df

          text
0          fox
1      opossum
2        black
3       purple
4       badger
5       coffee
6       rabbit
7         hare
8         soda
9       yellow
10  cappuccino
11        deer
12        bird
13     raccoon
14     hamster
15      burger
16      ferret
17        wolf
18    squirrel
19      lizard
20         red
21        milk
22         tea
23        blue
24    sandwich
25      coyote
26        fish
27         dog
28        bear
29       salad
30       pizza
31       snake
32       pasta
33      turtle
34       brown
35       white
36         cat
37  guinea pig
38       green
39        gray
40       water
41      orange

In [5]:
# !pip install tiktoken -q

In [6]:
import tiktoken

In [7]:
enc = tiktoken.encoding_for_model('text-embedding-ada-002')
print(len(enc.encode('above us only sky')))

4

In [8]:
words = list(df['text'])
# print(words)
total_tokens = sum([len(enc.encode(word)) for word in words])
print(f'Total tokens: {total_tokens}')
cost = total_tokens * (0.0004/1000)
print(f'Estimated cost in USD: {cost:.10f}')

Total tokens: 62
Estimated cost in USD: 0.0000248000

In [9]:
import openai
from openai.embeddings_utils import get_embedding
openai.api_key = os.getenv('OPENAI_API_KEY')

df['embedding'] = df['text'].apply(lambda x: get_embedding(x, engine='text-embedding-ada-002'))

In [10]:
df

          text                                          embedding
0          fox  [-0.0033150999806821346, -0.02161213755607605,...
1      opossum  [-0.024928269907832146, 0.008250134997069836, ...
2        black  [-0.01526994351297617, -0.031332068145275116, ...
3       purple  [0.009070569649338722, -0.025005735456943512, ...
4       badger  [-0.01584038883447647, -0.0031395514961332083,...
5       coffee  [-0.0007212135824374855, -0.01943901740014553,...
6       rabbit  [-0.00679002096876502, -0.022487828508019447, ...
7         hare  [-0.008926315233111382, -0.024923117831349373,...
8         soda  [0.025737101212143898, -0.00745161809027195, -...
9       yellow  [0.007679801434278488, -0.024838216602802277, ...
10  cappuccino  [-0.016692640259861946, -0.018885262310504913,...
11        deer  [-0.018787194043397903, -0.00927706714719534, ...
12        bird  [-0.022104088217020035, -0.016791632398962975,...
13     raccoon  [0.00047856057062745094, 0.0070065963082015514...
14     hamster  [-0.008713006973266602, -0.013556594029068947,...
15      burger  [-0.013254675082862377, -0.01544712670147419, ...
16      ferret  [-0.02668764442205429, 0.00022600461670663208,...
17        wolf  [0.000252986530540511, -0.013322839513421059, ...
18    squirrel  [-0.014857509173452854, 0.0021201090421527624,...
19      lizard  [-0.012491242960095406, 0.0074442108161747456,...
20         red  [1.8579006791696884e-05, -0.024676261469721794...
21        milk  [0.0008765821112319827, -0.019366424530744553,...
22         tea  [0.003576473332941532, -0.012423898093402386, ...
23        blue  [0.005390428006649017, -0.007341479416936636, ...
24    sandwich  [-0.033464692533016205, -0.0034766821190714836...
25      coyote  [-0.014680033549666405, -0.00982713047415018, ...
26        fish  [-0.0068883951753377914, 0.0023577495012432337...
27         dog  [-0.003379671834409237, -0.017619559541344643,...
28        bear  [-0.005604877602308989, -0.019939111545681953,...
29       salad  [0.00258059985935688, -0.00965685024857521, -0...
30       pizza  [0.014457435347139835, -0.022139254957437515, ...
31       snake  [-0.01681872271001339, -0.004569440148770809, ...
32       pasta  [0.011329964734613895, -0.011906170286238194, ...
33      turtle  [-0.0009370232000946999, -0.02086254581809044,...
34       brown  [-0.0033683686051517725, -0.015937969088554382...
35       white  [0.006238618399947882, -0.024662690237164497, ...
36         cat  [-0.0070945825427770615, -0.017328109592199326...
37  guinea pig  [-0.014859993010759354, -0.006980894133448601,...
38       green  [0.01538460049778223, -0.010931522585451603, 0...
39        gray  [0.01818835735321045, -0.006395982578396797, 0...
40       water  [0.019031280651688576, -0.01257743313908577, 0...
41      orange  [0.0045776693150401115, -0.03614746034145355, ...

In [11]:
# storing the embeddings locally
df.to_csv('result/words-embeddings.csv', index=False)